body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}
form {
    display: flex;
    flex-direction: row ;
    
}
.div1 {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    
}
h2 {
    margin-bottom: 20px;
    color: #333;
}

.regisForm {
    margin-bottom: 15px;    
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 0 16px;
    
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;

}
button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    transition: 0.5s;
}
button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.select-css {
    background-color: #fff;
    margin-bottom: 10px;

}
select {
    background-color: #ffff;
    border: 0;
    width: 310px;
}
